/* Basic Style */
body {
  margin: 0% 2.5%;
}

header,
footer {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


nav ul {
  display: flex;
  width: 60vw;
}

nav li {
  margin: 10px;
  padding: 0.5rem 1rem;
}

nav form {
  width: 25vw;
}
