:root {
  --theme-yellow: #e2cc4e;
  --theme-red: #c30032;
  --border-grey: rgb(235, 235, 235);
  --div-grey: rgba(207, 202, 202, 0.719);
}

.yellow-cart p,.yellow-cart a{
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center; 
  background-color: #FEF667; 
  height: 1.5rem;
}

.cart{
    width:80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.MyCart h1{
  font-size: 20px;
}

.cart-product{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-checkout p{
  width: 40%;
  margin:5px;
  font-size: 15px;
}

.cart-checkout{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}

.apply,.check {
    background-color: var(--border-grey);
    border: none;
    color: var(--theme-red);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
  }
