:root {
  --theme-yellow: #e2cc4e;
  --theme-red: #c30032;
  --border-grey: rgb(235, 235, 235);
  --div-grey: rgba(207, 202, 202, 0.719);
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0;
  box-sizing: content-box;
  position: relative;
}

.split-left{
  width: 15vw;
  height: 100%;
}

.split-left h1{
  font-size: 18px;
  margin: 10px;
}


.split-left ul {
  width: 100%;
}

.split-left li{
  margin: 20px auto;
  border-bottom: 1px solid var(--div-grey);
  height: 40px;
  width: 100%;
}

.split-left li div {
  height: 40px;
  width: 100%;
}

.split-left ul li div a {
  display: inline-block;
  line-height: 40px;
  width: 100%;
  padding-left: 20px;
}

.split-left a:hover{
  color: red;
}

.split-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.contact-info h2,.contact-info p {
  margin: 0.8rem;
}

.address span{
  display: flex;
  align-items: center;
  height: 1rem;
  margin:0.8rem;
}

.address p{
font-size: 0.9rem;
}

.column {
  float: left;
  width: 32.5%;
  padding: 5px;
  text-align:center;
}
  
.row{
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 70px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.yellow-container{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center; 
  background-color: #FEF667; 
  min-height: 2.5rem;
  justify-self: flex-end;
}

.yellow-container p {
  font-size: 1.1rem;
}

@media (max-width: 750px){
  .split-left{
    width: 30vw;
  }
  
  .contact-info, .address {
      flex-direction: row;
      margin: auto;

  }

  .row, .column, .yellow-container{
    flex-direction: column;
    width: 100%;
  }
}