.container {
  font-family: Gotham SSm A, Gotham SSm B, Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

.container h2 {
  padding: 4px 32px;
  font-size: 28px;
  text-align: center;
}

.container .header {
  display: flex;
  background: #e2cc4e;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.container .header:hover {
  background: #967f00;
  color: white;
}

.container .header h3 {
  font-size: 20px;
  padding: 0 32px;
}

.container .description {
  padding: 0 32px;
  background: #e5e6e4;
  line-height: 2.5;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 5px;
}

.container .description.active {
  max-height: 1000px;
}

.contact-container {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.contact {
  display: inline-block;
  font-size: 10x;
  background: cyan;
  margin: auto;
  width: 300px;
  height: 30px;
  padding: 5px;
}

.header img{
  width: 30px;
}

.description-container .header .open,
.description-container .header .close {
  position: absolute;
  right: 0;
  padding: 0 32px;
  font-size: 22px;
  font-weight: bolder;
  opacity: 0;
  transition: all 0.3s;
}

.description-container .header .open.active,
.description-container .header .close.active {
  opacity: 1;
}
