:root {
    --theme-yellow: #e2cc4e;
    --theme-red: #c30032;
    --border-grey: rgb(235, 235, 235);
    --div-grey: rgba(207, 202, 202, 0.719);
  }

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.small-container {
    width: 90vw;
}

#product-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 50px auto;
    width: 70vw;
}

.col-2 {
    display: flex;
    flex-direction: column;
}

#product-detail-left {
    margin-right: 30px;
}

#productImg {
    width: 830px;
    height: 530px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--border-grey);
}

div#selection {
    height: 100%;
    justify-content: space-around;
}

div#selection #product-name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 15px;
}

div#selection #product-price {
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 200px;
}

div#selection #product-price span {
    letter-spacing: normal;
}

a.size-guide-link {
    text-decoration: underline;
    align-self: flex-end;
}

a.size-guide-link:hover {
    color: var(--theme-red);
}

a.size-guide-link:active {
    color: var(--theme-red);
}

div#selection select {
    display: block;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: none;
    outline: var(--theme-red);
}

.qty-atc-btn {
    display: flex;
    flex-direction: row;
}

div#selection input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

input:focus {
    outline: none;
}


div#selection .add-to-cart-btn {
    display: inline-block;
    background: var(--theme-red);
    color: white;
    padding: 8px 30px;
    border: 30px var(--theme-red);
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    flex: 1;
    cursor: pointer;
}

div#selection .add-to-cart-btn:hover {
    background-color: #9c0128;
}

.product-view-row {
    display: flex;
    justify-content: center;
}

.product-view-col {
    height: 90px;
    cursor: pointer;
    margin: 20px 10px;
    border: 1px solid var(--border-grey);
    transition: 0.2s;
}

.product-view-col:hover {
    transform: scale(1.05);
}

.product-view-col img {
    height: 90px;
    object-fit: cover;
}



/* Recommended Product Part */
.row {
    display: flex;
    justify-content: space-around;
}

.row-2 {
    width: 75%;
    justify-content: space-between;
    margin: 50px auto 50px;
}

.view-more-btn:hover {
    color: var(--theme-red);
}

.view-more-btn:active {
    color: var(--theme-red);
}

.row-3 {
    width: 70%;
    margin: auto;
}

.recommend-col:hover {
    transform: scale(1.05);
}

.recommend-col {
    cursor: pointer;
    transition: 0.2s;
}

.recommend-col-link:hover {
    transform: scale(1.05);
}

.recommend-col-link img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 1px solid var(--border-grey);
}


.active-detail-img {
    border: 1px solid black;
}

@media (max-width: 1317px) {
    div#selection {
        height: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 750px) {
    #product-detail-container {
        flex-direction: column;
    }

    #selection {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 400px) {
    #productImg {
        width: 50px;
        height: 191px;
        /* width: 830px; */
        /* height: 530px; */
    }

    .product-view-col {
        height: 50px;
    }

    .product-view-col img {
        height: 50px;
        object-fit: cover;
    }

    div#selection {
        align-items: flex-start;
    }

    div#selection #product-name {
        font-size: 24px;
    }

    div#selection #product-price {
        font-size: 20px;
        margin-bottom: 30px;
    }
}